/* html synatx */
/* 
    <tag> <content> </tag>

*/


/* 
    css stynax

    selector {
        property : value;
    }
    
    type of selector
        - element / tag seelcotr

*/

body {
    background-color: initial;
}

/* 
    0 - 255 
    rgb (255,255,0)
*/
/* h1 {
    /* color: white; */
    /* color: #FFFFFF; */
    /* color: rgb(255, 255, 0); */
    /* color: rgba(255, 255, 0, 1)/; */
    /* color: white; */
    /* font-size: 50px; */



/* reset css */
a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0px;
}

li {
    display: inline;
    margin:10px;
}

#home {
    font-weight: bold;
    margin-left: 0px;
}

/* #google{
    text-decoration: underline;
}

#youtube{
    text-decoration: underline;
} */

.active {
    font-weight: bold;
    color: red;
}

.underline {
    text-decoration: underline;
}
.disable
{
    color:grey;
    cursor: no-drop;
}


